<%= form_for @user, html: { multipart: true } do |form| %>
	<div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :email, class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-4">
      <%= form.text_field :email, type: 'Email', class: "form-control-plaintext" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :phone, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :country, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :country, class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :gender, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-3">
      <%= form.select(:gender, ['Male', 'Female'], {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :birthday, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-3">
      <input id="user-birthday" class="flatpickr flatpickr-input active form-control" name="user[birthday]" type="text" placeholder="<%= @user.birthday if @user.birthday %>" data-id="datetime" readonly="readonly" style="background: #fff">
    </div>
  </div>

  <div class="form-group">
    <%= form.label :picture, class: "" %>
    <div>
      <%= image_tag(@user.picture_url, id: "image-edit") %>
    </div>
    <%= form.file_field :picture, class: "form-control-file", onchange: "previewFile()" %>
    <%= form.hidden_field :picture_cache %>
  </div>

  <div class="submit-field">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>